/**
 * Breadcrumb
 */

.tm-breadcrumb {
    &-area {
        position: relative;
        z-index: 1;
    }

    &-bgshape {
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
        z-index: -1;
    }

    h2 {
        color: #ffffff;
    }
}